.textColor {
  color: red;
  animation: color-wave 10s infinite;
}
@keyframes color-wave {
  0% {
    color: #ea580c;
  }

  25% {
    color: #b45309;
  }

  50% {
    color: #e11d48;
  }

  75% {
    color: #22c55e;
  }

  100% {
    color: #0891b2;
  }
}
